.header .top-header {
  height: 308px;
  background-color: #F7931E; }
.header .middle-header {
  background-image: url(../img/middle-header-fon.png);
  height: 597px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
.header .header-fon {
  margin-top: 50px; }
.header .racket {
  margin-top: 48px;
  margin-right: 10px;
  float: left; }
.header .wrapper-logo-text {
  padding-top: 81px; }
.header .title-under-img-racket {
  display: inline;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0; }
.header .text-under-title {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans Semibold";
  margin: 0; }
.header .title {
  color: #fff;
  font-family: "Open Sans Light";
  font-size: 35px;
  margin: 92px 0 0 0; }
.header .list {
  margin: 0;
  list-style: none;
  padding: 40px 0 40px 20px; }
.header .list-link {
  display: inline;
  text-transform: uppercase; }
.header .link {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  padding: 0 30px 0 20px; }
.header .link:hover {
  background-color: #fff;
  background-image: url(../img/arr.png);
  background-repeat: no-repeat;
  padding: 0 30px 0 20px; }
.header .main:hover {
  background-position: 100px 7px; }
.header .company:hover {
  background-position: 142px 7px; }
.header .sales:hover {
  background-position: 90px 7px; }
.header .portfolio:hover {
  background-position: 135px 7px; }
.header .contacts:hover {
  background-position: 117px 7px; }
.header .big-racket {
  margin-top: 148px;
  margin-right: 8px;
  float: left; }
.header .wrapper-logo-text-big-racket {
  padding-top: 195px; }
.header .title-under-img-big-racket {
  display: inline;
  color: #fff;
  font-size: 77px;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0;
  line-height: 68px; }
.header .text-under-title-big-raket {
  color: #fff;
  font-size: 25px;
  font-family: "Open Sans Semibold";
  margin: 0;
  padding-left: 125px; }

.main-path .title {
  color: #666;
  font-size: 70px;
  font-weight: bold;
  font-family: "Open Sans";
  padding-top: 70px;
  padding-bottom: 60px;
  margin: 0; }
.main-path .plane {
  width: 100%;
  padding-bottom: 130px; }
.main-path .list-one {
  margin: 0;
  padding: 0 0 125px 19px;
  list-style: none;
  color: #000; }
.main-path .text-list-one {
  font-size: 13px;
  font-style: italic;
  font-family: "Open Sans";
  line-height: 30px; }
.main-path .point {
  padding-right: 5px; }
.main-path .quotes-one {
  position: absolute;
  top: 80px;
  left: 515px; }
.main-path .quote {
  background-color: #f2f2f2;
  margin: 0;
  padding: 36px 55px 20px 55px;
  position: relative;
  margin-bottom: 37px;
  margin-top: 30px;
  color: #000;
  font-style: italic;
  font-family: "Open Sans Light";
  font-size: 16px; }
.main-path .quotes-two {
  position: absolute;
  top: 15px;
  left: 15px; }
.main-path .title-two {
  color: #666;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 43px;
  margin: 0;
  padding-bottom: 20px; }
.main-path .text-under-title {
  color: #000;
  font-family: "Open Sans";
  font-size: 13px;
  margin: 0;
  padding-right: 27px;
  padding-bottom: 50px; }
.main-path .list-two {
  margin: 0;
  list-style: navajowhite;
  list-style: none;
  padding-left: 23px; }
.main-path .text-list-two {
  color: #000;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: italic;
  padding-right: 45px; }
.main-path .title-three {
  color: #666;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 35px; }
.main-path .text-under-title-three {
  margin: 0;
  color: #000;
  font-family: "Open Sans";
  font-size: 13px; }
.main-path .orange-text {
  margin: 0;
  color: #f7931e;
  font-family: "Open Sans";
  font-size: 13px; }
.main-path .wrapper-form {
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 45px;
  margin-bottom: 50px; }
.main-path .title-form {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #666; }
.main-path .wrapper {
  text-align: center;
  display: block; }
.main-path .text {
  font-size: 24px;
  color: #ccc;
  line-height: 50px;
  padding-left: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 326px;
  padding-right: 21px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Open Sans"; }
.main-path .e-mail {
  font-size: 24px;
  color: #ccc;
  line-height: 50px;
  padding-left: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 326px;
  padding-right: 21px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Open Sans"; }
.main-path .button-text {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #fff;
  background-color: #f7931e;
  border: 1px solid #f7931e; }
.main-path .wrapper-section-plane {
  border: 1px solid #ccc;
  margin-bottom: 35px; }
.main-path .plane-middle {
  width: 100%;
  height: 279px; }
.main-path .wrapper-section {
  margin-top: 20px; }
.main-path .Data {
  display: inline;
  padding-right: 15px;
  font-weight: bold;
  font-family: Open SANS; }
.main-path .Name-section {
  display: inline;
  padding-left: 20px;
  background-color: #e6e6e6;
  padding: 3px;
  font-family: Open SANS;
  font-size: 14px;
  color: #000; }
.main-path .title-section {
  margin: 15px 20px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 27px; }
.main-path .text-section {
  line-height: 25px;
  font-size: 15px;
  font-family: Open SANS;
  margin-bottom: 20px;
  margin-left: 70px; }
.main-path .list {
  list-style: none;
  padding: 0;
  margin: 26px 0px 0px 0; }
.main-path .list-link {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  font-family: Open SANS;
  display: inline;
  padding-left: 18px; }
.main-path .list-link:hover {
  color: #f7931e; }
.main-path .title-section-two {
  margin: 15px 27px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 20px; }
.main-path .text-section-two {
  line-height: 18px;
  font-size: 15px;
  font-family: Open SANS; }
.main-path .list-two {
  list-style: none;
  padding: 0;
  margin: 30px 0px 0px 0; }
.main-path .wrapper-section-three {
  padding-top: 155px;
  padding-left: 60px;
  width: 100%;
  background-image: url(../img/planes.png);
  height: 279px;
  background-repeat: no-repeat;
  background-size: cover; }
.main-path .Data-three {
  display: inline;
  padding-right: 15px;
  font-weight: bold;
  font-family: Open SANS;
  color: #fff; }
.main-path .title-section-three {
  margin: 15px 40px 5px 0;
  font-family: Open Sans Semibold;
  font-size: 20px;
  color: #fff; }
.main-path .list-link-three {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: Open SANS;
  display: inline;
  padding-left: 18px; }
.main-path .list-link-three:hover {
  color: #f7931e; }
.main-path .Name-section-three {
  display: inline;
  padding-left: 20px;
  color: #000;
  padding: 3px;
  font-family: Open SANS;
  font-size: 14px; }
.main-path .list-three {
  list-style: none;
  padding: 0;
  margin: 15px 28px 0px 0;
  text-align: right; }
.main-path .wrapper-button-one {
  text-align: right;
  margin-bottom: 35px; }
.main-path .button-text-one {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #fff;
  background-color: #f7931e;
  border: 1px solid #f7931e; }
.main-path .wrapper-button-two {
  text-align: left;
  margin-bottom: 35px; }
.main-path .wrapper-section-plane-three {
  border: 1px solid #ccc;
  margin-bottom: 100px; }
.main-path .button-text-two {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #f7931e;
  background-color: #fff;
  border: 1px solid #f7931e; }
.main-path .plane-middle-one {
  width: 100%;
  height: 143px; }
.main-path .title-section-four {
  margin: 15px 20px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 17px; }
.main-path .text-section-four {
  margin-bottom: -25px;
  font-size: 10px;
  font-family: Open SANS; }
.main-path .list-link-four {
  color: #000;
  font-size: 11px;
  font-family: Open SANS;
  display: inline;
  padding-left: 18px; }
.main-path .list-link-four:hover {
  color: #f7931e; }
.main-path .Data-four {
  display: inline;
  padding-right: 15px;
  font-weight: bold;
  font-family: Open SANS;
  font-size: 10px; }
.main-path .Name-section-four {
  display: inline;
  padding-left: 20px;
  background-color: #e6e6e6;
  padding: 3px;
  font-family: Open SANS;
  font-size: 10px;
  color: #000; }
.main-path .wrapper-section-plane-four {
  border: 1px solid #f7931e;
  margin-bottom: 35px;
  background-color: #f7931e; }
.main-path .plane-middle-fife {
  width: 100%;
  height: 170px; }
.main-path .Data-fife {
  display: inline;
  padding-right: 15px;
  font-weight: bold;
  font-family: Open SANS;
  font-size: 10px; }
.main-path .wrapper-section-fife {
  margin-top: 5px;
  text-align: center; }
.main-path .title-section-fife {
  margin: 16px 4px 20px 39px;
  font-family: Open Sans Semibold;
  font-size: 18px; }
.main-path .Name-section-fife {
  display: inline;
  padding-left: 15px;
  background-color: #e6e6e6;
  padding: 3px;
  font-family: Open SANS;
  font-size: 12px;
  color: #000; }
.main-path .text-section-fife {
  line-height: 18px;
  font-size: 11px;
  font-family: Open SANS;
  margin-bottom: 37px;
  padding: 0 28px 0 37px; }
.main-path .button-text-fife {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #f7931e;
  background-color: #fff;
  border: 1px solid #f7931e;
  margin-left: 60px; }
.main-path .list-fife {
  list-style: none;
  padding: 0;
  margin: 26px 0px 26px 0; }
.main-path .list-link-fife {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Open SANS;
  display: inline;
  padding-left: 18px;
  margin-left: 12px; }
.main-path .list-link-fife:hover {
  background-color: #fff; }
.main-path .wrapper-button-center {
  text-align: center;
  margin-bottom: 70px; }
.main-path .wrapper-section-racket {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #f7931e;
  height: 329px; }
.main-path .racket-middle {
  margin-left: 95px;
  margin-top: 35px; }
.main-path .button-text-racket {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #f7931e;
  background-color: #fff;
  border: 1px solid #f7931e;
  margin-left: 70px; }
.main-path .title-section-racket {
  margin: 90px 20px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 27px;
  padding-left: 70px; }
.main-path .wrapper-section-racket-orange {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #fff;
  height: 329px; }
.main-path .button-text-racket-orange {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #fff;
  background-color: #f7931e;
  border: 1px solid #fff;
  margin-left: 70px; }
.main-path .racket-middle-weight {
  margin-left: 55px;
  margin-top: 55px;
  height: 225px; }
.main-path .title-section-racket-weight {
  margin: 90px 20px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 27px;
  color: #fff; }
.main-path .text-section-weight {
  line-height: 15px;
  font-size: 14px;
  font-family: Open SANS;
  margin-bottom: 20px;
  color: #fff;
  margin-right: 40px; }
.main-path .wrapper-section-racket-greay {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #b3b3b3;
  height: 329px; }
.main-path .racket-greay-middle {
  margin-left: 43px;
  margin-top: 55px;
  height: 225px;
  margin-right: 55px; }
.main-path .title-section-racket-greay {
  margin: 90px 0px 20px 48px;
  font-family: Open Sans Semibold;
  font-size: 27px;
  color: #4d4d4d; }
.main-path .text-section-greay {
  line-height: 15px;
  font-size: 15px;
  font-family: Open SANS;
  margin-bottom: 20px;
  color: #4d4d4d;
  margin-left: 50px; }
.main-path .racket-middle-orange {
  margin-left: 21px;
  height: 152px;
  margin-top: 18px; }
.main-path .wrapper-section-racket-orange-small {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #f7931e;
  height: 182px; }
.main-path .title-section-racket-small {
  margin: 50px 0px 20px 0;
  font-family: Open Sans Semibold;
  font-size: 27px;
  color: #FFF; }
.main-path .wrapper-section-racket-orange-small-greay {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #ccc;
  height: 182px; }
.main-path .title-section-racket-small-greay {
  margin: 35px 0px 10px 0;
  font-family: Open Sans Semibold;
  font-size: 27px;
  color: #4d4d4d; }
.main-path .text-section-greay-small {
  line-height: 15px;
  font-size: 15px;
  font-family: Open SANS;
  margin-bottom: 20px;
  color: #4d4d4d; }
.main-path .racket-middle-1 {
  margin-left: 70px;
  height: 216px;
  margin-top: 40px; }
.main-path .wrapper-section-racket-1 {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #f7931e;
  margin-bottom: 120px; }
.main-path .title-section-racket-1 {
  font-family: Open Sans Semibold;
  font-size: 21px;
  text-align: center;
  padding: 5px;
  color: #fff; }
.main-path .text-section-1 {
  font-size: 12px;
  font-family: Open SANS;
  text-align: center;
  margin: 27px;
  color: #fff; }
.main-path .button-text-racket-1 {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #f7931e;
  background-color: #fff;
  border: 1px solid #fff;
  margin-left: 35px;
  margin-bottom: 45px; }
.main-path .racket-middle-2 {
  margin-left: 70px;
  height: 216px;
  margin-top: 40px; }
.main-path .wrapper-section-racket-2 {
  border: 1px solid #ccc;
  margin-bottom: 35px;
  background-color: #fff; }
.main-path .title-section-racket-2 {
  font-family: Open Sans Semibold;
  font-size: 21px;
  text-align: center;
  padding: 5px;
  color: #000; }
.main-path .text-section-2 {
  font-size: 12px;
  font-family: Open SANS;
  text-align: center;
  margin: 27px;
  color: #000; }
.main-path .button-text-racket-2 {
  font-size: 20px;
  line-height: 50px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 32px;
  font-family: "Open Sans";
  color: #fff;
  background-color: #f7931e;
  border: 1px solid #f7931e;
  margin-left: 35px;
  margin-bottom: 45px; }
.main-path .title-section-racket-3 {
  font-family: Open Sans Semibold;
  font-size: 21px;
  padding: 10px;
  padding-left: 25px;
  color: #fff; }
.main-path .title-section-racket-4 {
  font-family: Open Sans Semibold;
  font-size: 21px;
  padding-left: 25px;
  padding-top: 10px;
  color: #000; }
.main-path .text-section-4 {
  font-size: 12px;
  font-family: Open SANS;
  margin: 28px;
  color: #000; }

.footer .top-footer {
  height: 308px;
  background-color: #F7931E; }
.footer .middle-footer {
  background-image: url(../img/middle-header-fon.png);
  height: 597px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
.footer .header-fon {
  margin-top: 50px; }
.footer .racket {
  margin-top: 48px;
  margin-right: 10px;
  float: left; }
.footer .wrapper-logo-text {
  padding-top: 81px; }
.footer .title-under-img-racket {
  display: inline;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0; }
.footer .text-under-title {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans Semibold";
  margin: 0; }
.footer .list-footer {
  margin: 0;
  list-style: none;
  padding: 105px 0 40px 20px; }
.footer .list-link {
  display: inline;
  text-transform: uppercase; }
.footer .link {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  padding: 0 30px 0 20px; }
.footer .link:hover {
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 5px 30px 5px 20px; }

/*# sourceMappingURL=main.css.map */
